.roomName {
    color: grey
}

#participants {
    text-align: center;
}

#comments {

}

video {
    max-width: 640px;
    max-height: 480px;
    width: 100%;
}

#comments {
    max-width: 640px;
    width: 100%;
    margin: 0 auto
}